<html>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { background-color: #f7f7f7; }
        .card-body .btn { margin-top: 10px; }
    </style>
</head>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Select subscription plan</h3>
                </div>
                <div class="card-body">
                    <button id="checkout-button-pro" class="btn btn-primary btn-lg btn-block">
                        Pro subscription ($20/month)</button>
                    <button id="checkout-button-lite" class="btn btn-secondary btn-lg btn-block">
                        Lite subscription ($5/month)</button>

                    <hr th:if="${hasStripeCustomer}">
                    <div th:if="${hasStripeCustomer}">
                        <button id="manage-subscription-button" class="btn btn-info btn-block">
                            Manage my subscriptions</button>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    const checkoutButtonPro = document.getElementById('checkout-button-pro');

    checkoutButtonPro.addEventListener('click', async () => {
        const priceId = 'price_1Rl4rBH13tMkI9AukSn6tc5a';

        const response = await fetch('/create-checkout-session', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', [header]: token },
            body: JSON.stringify({ priceId: priceId })
        });

        const session = await response.json();
        if (session.url) {
            window.location.href = session.url;
        } else {
            console.error('can`t get URL for Stripe session');
            alert('Mistake during creating payment');
        }
    });

    const checkoutButtonLite = document.getElementById('checkout-button-lite');

    checkoutButtonLite.addEventListener('click', async () => {
        const priceId = 'price_1Rl4tZH13tMkI9Aucb9Sx1UH';

        const response = await fetch('/create-checkout-session', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', [header]: token  },
            body: JSON.stringify({ priceId: priceId })
        });

        const session = await response.json();
        if (session.url) {
            window.location.href = session.url;
        } else {
            console.error('can`t get URL for Stripe session');
            alert('Mistake during creating payment');
        }
        });

    const manageSubscriptionButton = document.getElementById('manage-subscription-button');

    manageSubscriptionButton.addEventListener('click', async () => {
        const response = await fetch('/create-customer-portal-session', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', [header]: token  },
        });

        const session = await response.json();
        if (session.url) {
            window.location.href = session.url;
        } else {
            console.error('can`t get URL for Stripe session');
            alert('Mistake during creating payment');
        }
    });
</script>
</body>
</html>